 <footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #fa9725; color: #ffffff;">
      <div class="container">
  

        <div class="row py-4 d-flex align-items-center">
  

          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected on social networks!</h6>
          </div>

          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
    
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
         
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
         
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
         
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
        </div>
        
      </div>
    </div>
  
 
    <div class="container text-center text-md-left mt-5">
  
     
      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <h6 class="text-uppercase font-weight-bold">Information</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>This Website is built on (Angular: 9.1.7)</p>
  
        </div>
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">Links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a href="https://www.facebook.com/hamrazmustafa/">Facebook</a></p>
          
          <p><a href="https://www.instagram.com/mustavhamraz/">Instagram</a></p>   

          <p><a href="https://github.com/mustafa-hamraz">GitHub</a></p> 

          <p><a href="https://www.linkedin.com/in/mustafa-hamraz-124b64194/">Linkedin</a></p> 
        </div>
  
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>Stockholm, Sweden</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>hamrazmustafa@yahoo.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i>+ 46 704 915 656</p>
  
        </div>
      </div>
    </div>
    
    <div class="footer-copyright text-center py-3">
      © 2020 Copyright: Mustafa Hamraz
    </div>
  </footer>
