<section class="contact_section" >
<h2 id="contact_title">Hur kan vi hjälpa dig?</h2>
<p>Fyll i dina uppgifter så återkommer vi inom kort.</p>
<form  class="contact_form" action="">
    <input class="form_input" type="text" placeholder="Namn *">
    <input class="form_input" type="email" placeholder="E-postadress *">
    <input class="form_input" type="text" placeholder="Telefon *">
    <input class="form_input" type="text" placeholder="Nuvarande Webbplats">
    <textarea class="form_input" id="textarea_box" type="text" placeholder="Kort beskrivning av projektet"></textarea>
    <button class="form_button" type="submit" >Skicka</button>
</form>
</section>