nav{
    background-color: #ffffff; /* For browsers that do not support gradients */
    background-image: linear-gradient(#ffffff, #edf0f5);
    overflow: hidden;
}
#logo-img{
    height: 3rem;
    margin: 0;
    padding: 0;
}
#logo{
 margin-left: 20px;
}
.navbar_link{
    margin-right: 5vw;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
}
#logo:hover {
    transform: scale(1.1);
    transition:  0.3s
}

@media only screen and (max-width: 600px){
    .navbar_link{
        font-size: 0.8rem;
    }
    #logo-img{
        height: 2.3rem;
    }
}