<section class="first-section">
    <img src="assets/img/laptop.png" class="img-fluid background_img" alt="Responsive image">
    <div class="centered-text">Hamraz gör det enkelt för dig att få den webbplats du behöver.</div>
</section>


<section class="second-section">
    <div class="info_card_style">
        <img src="assets/img/contact.png" class="card-img-top" alt="contact.png">
        <div class="card-body">
          <h5 class="card-title">Kontakt</h5>
          <p class="card-text">Du får en glad och trevlig kontaktperson som du alltid kan vända dig till.</p>
        </div>
    </div>
    <div class="info_card_style">
        <img src="assets/img/responsibilty.png" class="card-img-top" alt="responsibilty.png">
        <div class="card-body">
          <h5 class="card-title">Helhetsansvar</h5>
          <p class="card-text">Hamraz tar ett helhetsansvar och ser till att din webbplats fungerar som den ska.</p>
        </div>
    </div>
    <div class="info_card_style">
        <img src="assets/img/price.png" class="card-img-top" alt="price.png">
        <div class="card-body">
          <h5 class="card-title">Fasta priser</h5>
          <p class="card-text">Du får alltid ett fast pris, så du vet exakt hur mycket allt kommer att kosta.</p>
        </div>
    </div>
</section>


<app-contact></app-contact>
<app-footer></app-footer>
